/* ================================ Combinations ================================ */

.c-card{
  width: 100%;

  max-width: 400px;
  padding: 18px 32px 20px;
  color: $monochrome-white-100;
  border-radius: 20px;

  &__icons{

    svg{
      width: 45px;
      height: 45px;

      path{
        fill: $monochrome-white-100;
      }
    }
  }

  &__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__name{
      @include headings-h-5-s-24-w-700;
    }

    &__price{
      display: flex;
      align-items: flex-end;
      @include headings-h-3-s-40-w-700;

      &__sign{
        @include content-s-28-w-700;
      }
    }
  }

  &.--orange{
    background: $bg-orange-linear;
    
  }

  &.--green{
    background: $bg-green-linear;
  }

  &.--yellow{
    background: $bg-yellow-linear;
  }

  &.--brown{
    background: $bg-brown-linear;
  }
}

.c-addButton{

  &__additionalGroup{
    display: flex;
    justify-content: space-between;
  }

  &__addFood{

    .b-iconLabel{
      margin-bottom: 24px;
    }

    &:nth-child(2){
      margin: 0 32px;
      transition: margin 0.3s;
    }

    &.--brown{


      svg path{
        fill: $accents-brown-500;
      }
    
      .b-addButton{
        border-color: $accents-brown-500;
  
        &:hover {
          background-color: $accents-brown-100;
        }
  
        &__text{
          color: $accents-brown-500;
        }
      }
    }
  
    &.--green{
  
      svg path{
        fill: $accents-green-500;
      }
    
      .b-addButton{
        border-color: $accents-green-500;
  
        &:hover {
          background-color: $accents-green-100;
        }
  
        &__text{
          color: $accents-green-500;
        }
      }
    }
  }
}

@mixin check-style{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 470px;
  height: 100%;
  padding: 0 47px;
  color: $primary-500;
  background-image: url('../assets/icons/Illustrations/Fork-big.svg');
  background-repeat: no-repeat;
  background-position: bottom -52px right 75px;
  border-radius: 24px;
  @include headings-h-3-s-40-w-700;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.3s;
}

.c-check{

  &__check{

    @include check-style;
    
    
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);

    &:hover{
      background-color: darken($monochrome-white-100,1);
    }


  }

  &__freeCourier{
    margin-top: 32px;
    @include content-s-18-w-400;
    text-align: center;

    .freeCourier__primary{
      color: $primary-500;
      @include content-s-18-w-800;
    }
  }

  &__check-popup{
    @include check-style;
    margin: 0 auto;
    background-color: $monochrome-white-100;
  }
}

.c-check-popup{
  position: fixed;
  bottom: 0px;
  z-index: 5;
  width: 100%;
  height: 0;
  overflow-y: hidden;
  background-color: $monochrome-white-100;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15); 
  transition-duration: 0.3s;

  &:hover{
    height: 130px;
  }

  &.--h-100px{
    height: 100px;
    overflow-y: scroll;
  }
  
  &.--open{
    height: 100%;
  }

  &__freeCourier{
    margin-top: 32px;
    @include content-s-12-w-400;
    text-align: center;
    
    .freeCourier__primary{
      color: $primary-500;
      @include content-s-12-w-800;
    }
  }

  .needMore {
    width: 100%;
    margin-top: 8px;
    padding: 15px 55px;
    color: $monochrome-white-100;
    background-color: $primary-200;
    @include content-s-18-w-600;
    border-radius: 16px 16px 0px 0px;
    cursor: pointer;
    text-align: center;
  }
}

.c-check-popup{
  scrollbar-width: none;
}

.c-check-popup::-webkit-scrollbar{

  /* webkit */
  width: 0;
  height: 0;
}

.c-foodCart{
  // max-height: 467px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 278px;
  width: 100%; 
  min-width: 200px; 
  max-width: 278px;
  height: 430px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-duration: 0.3s;


  &:hover{
    transform: scale(1.05);
  }


  &__container{
    width: 278px;
    padding: 0px 24px;
  }

  &__img{

    img{
      width: 100vw;
    }

  }

  &__name{
    @include content-s-20-w-700;
  }

  &__weight{
    @include content-s-16-w-400;
    color: $monochrome-gray-400;
  }

  &__btnAdd{
    width: 100%;
    padding: 18px 0;
    color: $monochrome-white-100;
    background-color: $primary-500;
    transition-duration: 0.3s;

    &:hover{
      background-color: $accents-green-500;
    }
  }
}