/* ================================ Media ================================ */

@media (max-width: 1560px){

  .m-header{
    // padding: 0 75px 24px;

    &__logo {
      margin-right: 36px;
    }
  
    &__list{
  
      li{
        margin-right: 20px;
      }
    }

    &__actionButton {
  
      a{
        margin-right: 20px;
      }
    }
  }
}

@media (min-width: 1400px){

  .m-headerMenu{
    display: none;
  }

}

@media (max-width: 1400px){

  .m-header{
    // padding: 0 24px 20px;

    &__list,  &__right{
      display: none;
    }

    &__left{
      margin: 0;
    }
    &__list{
      background-color: $monochrome-white-100;
    }

    &__container {
      justify-content: space-between; 
      align-items: flex-end;
      padding: 0 24px 20px;   
    }

    .b-burger{
      display: flex;
    }

    &__logo{
      margin-right: 0;

      svg{
        width: 94px;
        height: 49px;
      }
    }
  }
}

// @media (max-width: 600px){
  
// }