/* ================================ Media ================================ */
@media(max-height: 600px){

  .m-helloScreen__baner{
    // margin-bottom: 10px;
    // transition: margin 0.3s ease;
  }
}
@media (max-width: 1560px){

  .m-header{
    // padding: 0 75px 24px;

    &__logo {
      margin-right: 36px;
    }
  
    &__list{
  
      li{
        margin-right: 20px;
      }
    }

    &__actionButton {
  
      a{
        margin-right: 20px;
      }
    }
  }

  .m-helloScreen{
    padding: 0 24px;
  }
}

@media (min-width: 1400px){

  .m-headerMenu{
    display: none;
  }

}

@media (max-width: 1400px){

  .m-header{
    // padding: 0 24px 20px;

    &__list,  &__right{
      display: none;
    }

    &__left{
      margin: 0;
    }

    &__list{
      background-color: $monochrome-white-100;
    }

    &__container {
      justify-content: space-between; 
      align-items: flex-end;
      padding: 0 24px 20px;   
    }

    .b-burger{
      display: flex;
    }

    &__logo{
      margin-right: 0;

      svg{
        width: 94px;
        height: 49px;
      }
    }
  }
  
  .m-helloScreen{
    padding: 0 24px 51px;
    
    &__baner{
      font-size: 60px;
    }
  }
}

@media (max-width: 768px){

  .m-helloScreen{
    
    &__baner{
      @include headings-h-5-s-24-w-700;    
    }
  }

}
@media (max-width: 1000px){
  
  .m-footer{

    &Top{
      justify-content: center;
  
      &__right{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  
    &Bottom{
      flex-direction: column;

      &__left{
        flex-direction: column;
      }
    }
  }
}