mixin m-head
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Web Project
    meta(name='description' content='Web Project')
    meta(name='author' content='ASTEQ')
    meta(property='og:title' content='Web Project')
    meta(property='og:type' content='website')
    meta(property='og:url' content='write your link')
    meta(property='og:description' content='Web Project')
    meta(property='og:image' content='write your path')
    link(rel='icon' href='write your path')
    link(rel='icon' href='write your path' type='image/svg+xml')
    link(rel='apple-touch-icon' href='write your path')


mixin m-headerMenu
  .m-headerMenu
    nav.m-headerMenu__nav
      a(href="#") 
        +b-textLink('b-textLink --black --s-20') О нас
      a(href="#") 
        +b-textLink('b-textLink --black --s-20') Создать набор
      a(href="#") 
        +b-textLink('b-textLink --black --s-20') Оплата и доставка
      a(href="#") 
        +b-textLink('b-textLink --black --s-20') Как мы готовим?
      a(href="#footer") 
        +b-textLink('b-textLink --black --s-20') Контакты
    .m-headerMenu__socials
      +b-IconButton('b-socialLink --twitter --outline')
        include ../../assets/icons/Socials/Twitter.svg
      +b-IconButton('b-socialLink --vk --outline')
        include ../../assets/icons/Socials/vk.svg
      +b-IconButton('b-socialLink --facebook --outline')
        include ../../assets/icons/Socials/facebook.svg
    .m-headerMenu__contacts 
      +b-textLink('b-textLink --black --s-20') +7 928 246 50 33
      .m-headerMenu__address г. Краснодар, ул. Ставропольская, д. 123


mixin m-header 
  header.m-header 
    .m-header__container 
      .m-header__left
        a(href="#").m-header__logo.--white
          include ../../assets/icons/CookToo-Logo-alt.svg
        nav.m-header__list
            a(href="#") 
              +b-textLink('b-textLink --s-18') О нас
            a(href="#") 
              +b-textLink('b-textLink --s-18') Создать набор 
            a(href="#") 
              +b-textLink('b-textLink --s-18') Оплата и доставка
            a(href="#") 
              +b-textLink('b-textLink --s-18') Как мы готовим? 
            a(href="#footer")  
              +b-textLink('b-textLink --s-18') Контакты
      .m-header__right 
        +b-textLink('b-textLink --white --s-18') +7 928 246 50 33
        +b-button('b-roundButton') Заказать
      +b-burger
    +m-headerMenu

mixin m-helloScreen 
  .m-helloScreen
    .m-helloScreen__baner 
      span.m-helloScreen__baner__default Заказывайте 
      span.m-helloScreen__baner__primary больше <br>
      span.m-helloScreen__baner__default платите 
      span.m-helloScreen__baner__primary меньше

mixin m-footer 
  .m-footer#footer
    .m-footerTop
      .m-footerTop__left 
        a(href="#").m-footer__logo
          include ../../assets/icons/CookToo-Logo-alt.svg
      .m-footerTop__right
        +b-textLink('b-textLink --black') +7 928 246 50 33
        .m-footer__address г. Краснодар, ул. Ставропольская, д. 123
    .m-footerBottom 
      .m-footerBottom__left 
        a(href="#").m-footerBottom__left__item  Условия оплаты и доставки
        a(href="#").m-footerBottom__left__item  Политика конфиденциальности
      .m-footerBottom__right
        span Разработано
        a(href="#").m-footer__companyLogo
          include ../../assets/icons/ASTEQ-Logo.svg
mixin m-discounts 
  .m-discounts
      //- .m-discounts__bg
      .m-discounts__container 
        .m-discounts__container__left
          include ../../assets/icons/Illustrations/perc.svg
        .m-discounts__container__right 
          .m-discounts__container__listItem
            span.m-discounts-bold.--italic Бесплатная 
            span доставка при заказе 
            span.m-discounts-bold.--italic от 450 рублей 
            span или более 2-х бизнес-ланчей
          .m-discounts__container__listItem
            span.m-discounts-bold Скидка 
            span.m-discounts-bold.--italic 10% 
            span при заказе 3-х и более обеденных сетов
          .m-discounts__container__listItem
            span.m-discounts-bold Скидка 
            span.m-discounts-bold.--italic 15% 
            span при заказе 5-ти и более обеденных сетов

mixin m-benifits 
  .m-benifits
    img.m-benifits__left(src="../../assets/images/About-Image.png", alt="")
    .m-benifits__right 
      .m-benifits__right__top 
        .m-benifits__right__title Почему стоит заказать обед на 
          span cook
          span too
          span .ru?
        .m-benifits__checkList 
          +b-checkListItem('b-checkListItem') Бесплатная доставка обеденных сетов
          +b-checkListItem('b-checkListItem') Привлекательная система скидок и бонусов 
          +b-checkListItem('b-checkListItem') Возможность заказа любого из 100 вариантов бизнес-ланча
          +b-checkListItem('b-checkListItem') Ежедневное питание полноценной и полезной едой
          +b-checkListItem('b-checkListItem') Регулярное расширение и обновление нашего меню
      .m-benifits__right__bottom 
        .m-benifits__right__rowTop
          +c-card('--orange', 'Комплекс', '250', '₽')
            include ../../assets/icons/Decorations/Soup.svg
            include ../../assets/icons/Decorations/Steak-1.svg
            include ../../assets/icons/Decorations/Salad.svg
          +c-card('--yellow', 'Первое + Второе', '250', '₽')
            include ../../assets/icons/Decorations/Soup.svg
            include ../../assets/icons/Decorations/Steak-1.svg
        .m-benifits__right__rowBottom
          +c-card('--green', 'Первое + Салат', '250', '₽')
            include ../../assets/icons/Decorations/Soup.svg
            include ../../assets/icons/Decorations/Salad.svg
          +c-card('--brown', 'Второе + Салат', '250', '₽')
            include ../../assets/icons/Decorations/Steak-1.svg
            include ../../assets/icons/Decorations/Salad.svg

mixin m-constructor 
  .m-constructor 
    //- .m-constructor__container
    .m-constructor__left
      .m-constructor__left__title Создать бизнес-ланч
      .m-constructor__left__container  
        +c-addButton
        .text-link__wrap
          +b-textLink('b-textLink --orange') + Добавить еще один обед
    .m-constructor__right
      +c-check
      .c-check__freeCourier При заказе от 400 руб. доставка 
        span.freeCourier__primary бесплатно
  +c-check-popup 





































































    