mixin m-head
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Web Project
    meta(name='description' content='Web Project')
    meta(name='author' content='ASTEQ')
    meta(property='og:title' content='Web Project')
    meta(property='og:type' content='website')
    meta(property='og:url' content='write your link')
    meta(property='og:description' content='Web Project')
    meta(property='og:image' content='write your path')
    link(rel='icon' href='write your path')
    link(rel='icon' href='write your path' type='image/svg+xml')
    link(rel='apple-touch-icon' href='write your path')

    //- link(rel="stylesheet", href="../../scss/autoComplete.css")


mixin m-headerMenu
  .m-headerMenu
    nav.m-headerMenu__nav
      a(href="#about") 
        +b-textLink('b-textLink --black --s-20') О нас
      a(href="#constructor") 
        +b-textLink('b-textLink --black --s-20') Создать набор
      a(href="#payAndDel") 
        +b-textLink('b-textLink --black --s-20') Оплата и доставка
      a(href="#howWeCook") 
        +b-textLink('b-textLink --black --s-20') Как мы готовим?
      a(href="#footer") 
        +b-textLink('b-textLink --black --s-20') Контакты
    .m-headerMenu__socials
      +b-IconButton('b-socialLink --twitter --outline')
        include ../../assets/icons/Socials/Twitter.svg
      +b-IconButton('b-socialLink --vk --outline')
        include ../../assets/icons/Socials/vk.svg
      +b-IconButton('b-socialLink --facebook --outline')
        include ../../assets/icons/Socials/facebook.svg
    .m-headerMenu__contacts 
      a(href="tel:+79282465033")
        +b-textLink('b-textLink --black --s-20') +7 928 246 50 33
      .m-headerMenu__address г. Краснодар, ул. Ставропольская, д. 123


mixin m-header 
  header.m-header 
    .m-header__container 
      .m-header__left
        a(href="#").m-header__logo.--white
          include ../../assets/icons/CookToo-Logo-alt.svg
        nav.m-header__list
            a(href="#about") 
              +b-textLink('b-textLink --s-18') О нас
            a(href="#constructor") 
              +b-textLink('b-textLink --s-18') Создать набор 
            a(href="#payAndDel") 
              +b-textLink('b-textLink --s-18') Оплата и доставка
            a(href="#howWeCook") 
              +b-textLink('b-textLink --s-18') Как мы готовим? 
            a(href="#footer")  
              +b-textLink('b-textLink --s-18') Контакты
      .m-header__right 
        a(href="tel:+79282465033")
          +b-textLink('b-textLink --s-20') +7 928 246 50 33
        +b-button('b-roundButton createOrder') Заказать
      +b-burger
    +m-headerMenu

mixin m-helloScreen 
  .m-helloScreen
    .m-helloScreen__baner 
      span Заказывайте 
      span.m-helloScreen__primary больше <br>
      span платите 
      span.m-helloScreen__primary меньше

mixin m-footer 
  .m-footer#footer
    .m-footerTop
      .m-footerTop__left 
        a(href="#").m-footer__logo
          include ../../assets/icons/CookToo-Logo-alt.svg
      .m-footerTop__right
        a(href="tel:+79282465033")
          +b-textLink('b-textLink --black --s-20') +7 928 246 50 33
        .m-footer__address г. Краснодар, ул. Ставропольская, д. 123
    .m-footerBottom 
      .m-footerBottom__left 
        a(href="#").m-footerBottom__item  Условия оплаты и доставки
        a(href="#").m-footerBottom__item  Политика конфиденциальности
      .m-footerBottom__right
        span Разработано
        a(href="#").m-footer__companyLogo
          include ../../assets/icons/ASTEQ-Logo.svg

mixin m-discounts 
  .m-discounts
      //- .m-discounts__bg
      .m-discounts__container 
        .m-discounts__left
          include ../../assets/icons/Illustrations/perc.svg
        .m-discounts__right 
          .m-discounts__listItem
            span.m-discounts-bold.--italic Бесплатная 
            span доставка при заказе 
            span.m-discounts-bold.--italic от 450 рублей 
            span или более 2-х бизнес-ланчей
          .m-discounts__listItem
            span.m-discounts-bold Скидка 
            span.m-discounts-bold.--italic 10% 
            span при заказе 3-х и более обеденных сетов
          .m-discounts__listItem
            span.m-discounts-bold Скидка 
            span.m-discounts-bold.--italic 15% 
            span при заказе 5-ти и более обеденных сетов

mixin m-benifits 
  .m-benifits
    img.m-benifits__left(src="../../assets/images/About-Image.png", alt="")
    .m-benifits__right 
      .m-benifits__top 
        .m-benifits__title Почему стоит заказать обед на 
          span.red cook
          span.gray too
          span.lightgray .ru?
        .m-benifits__checkList 
          +b-checkListItem('b-checkListItem') Бесплатная доставка обеденных сетов
          +b-checkListItem('b-checkListItem') Привлекательная система скидок и бонусов 
          +b-checkListItem('b-checkListItem') Возможность заказа любого из 100 вариантов бизнес-ланча
          +b-checkListItem('b-checkListItem') Ежедневное питание полноценной и полезной едой
          +b-checkListItem('b-checkListItem') Регулярное расширение и обновление нашего меню
      .m-benifits__bottom 
        .m-benifits__rowTop
          +c-card('--orange', 'Комплекс', '250', '₽')
            include ../../assets/icons/Decorations/Soup.svg
            include ../../assets/icons/Decorations/Steak-1.svg
            include ../../assets/icons/Decorations/Salad.svg
          +c-card('--yellow ', 'Первое + Второе', '250', '₽')
            include ../../assets/icons/Decorations/Soup.svg
            include ../../assets/icons/Decorations/Steak-1.svg
        .m-benifits__rowBottom
          +c-card('--green', 'Первое + Салат', '250', '₽')
            include ../../assets/icons/Decorations/Soup.svg
            include ../../assets/icons/Decorations/Salad.svg
          +c-card('--brown', 'Второе + Салат', '250', '₽')
            include ../../assets/icons/Decorations/Steak-1.svg
            include ../../assets/icons/Decorations/Salad.svg

mixin foodCards
  .m-foodCards
    +b-IconButton('b-transparentIconButton closefoodCards')
      include ../../assets/icons/Actions/Close.svg
    .m-foodCards__title Выберите блюдо
    .m-foodCards__container
      +c-foodCard
    +foodCardsInfo
  +blackoutfoodCards

mixin foodCardsInfo 
  .m-foodCardsInfo
    .m-foodCardsInfo__img 
      +b-button('b-iconButton') 
        include ../../assets/icons/Actions/ArrowLeft.svg
      img.img(src="", alt="alt")
    .m-foodCardsInfo__container 
      .m-foodCardsInfo__name.name 
      .m-foodCardsInfo__descr Свиная шея, сухая аджика, черный перец, прованские травы, молотый кориандр
      .m-foodCardsInfo__weight.weight
      button.b-squareButton.--smooth.btn Добавить

mixin m-constructor 
  .m-constructor#constructor
    .m-constructor__left
      .m-constructor__title Создать бизнес-ланч
      .m-constructor__container
        .c-addButton__additionalGroup
        +c-addButton
        .text-link__wrap
          +b-textLink('b-textLink --orange addDinerBtn') + Добавить еще один обед

    .m-constructor__right
      +c-check
      .c-check__freeCourier При заказе от 400 руб. доставка 
        span.freeCourier__primary бесплатно
    +c-check-popup 

mixin m-subscribe 
  .m-subscribe
    .m-subscribe__left 
      .m-subscribe__title Подпишись на нас в соц.сетях
      .m-subscribe__text Мы в них много шутим, рассказываем о новинках меню и проводим конкурсы с ценными и вкусными призами.
    .m-subscribe__right
      +b-IconButton('b-socialLink --twitter')
        include ../../assets/icons/Socials/Twitter.svg
      +b-IconButton('b-socialLink --vk')
        include ../../assets/icons/Socials/vk.svg
      +b-IconButton('b-socialLink --facebook')
        include ../../assets/icons/Socials/Facebook.svg

mixin m-about 
  .m-about#about
    img.m-about__left(src="../../assets/images/Benefits-Image.png", alt="")
    .m-about__right 
      .m-about__title Обеды на любой вкус
      .m-about__text Чтобы накормить рабочих на стройке, сотрудников в офисе вкусной, горячей и здоровой пищей, не нужно открывать свой ресторан неподалеку. Мы приготовим и привезем вкусную еду в любую часть города и даже в зоны за его пределами. В нашей компании Вы можете как подобрать индивидуальный обед для каждого, если у Вас не слишком большое количество человек (от 10 чел.) и есть желание собирать заказы, так и выбрать комплексный обед для всех. Чтобы накормить рабочих на стройке, сотрудников в офисе вкусной, горячей и здоровой пищей, не нужно открывать свой ресторан неподалеку. Мы приготовим и привезем вкусную еду в любую часть города и даже в зоны за его пределами.

mixin m-payAndDel
  .m-payAndDel#payAndDel
    .m-payAndDel__left
      .m-payAndDel__title Оплата и доставка
      .m-payAndDel__text Чтобы накормить рабочих на стройке, сотрудников в офисе вкусной, горячей и здоровой пищей, не нужно открывать свой ресторан неподалеку. Мы приготовим и привезем вкусную еду в любую часть города и даже в зоны за его пределами. В нашей компании Вы можете как подобрать индивидуальный обед для каждого, если у Вас не слишком большое количество человек (от 10 чел.) и есть желание собирать заказы, так и выбрать комплексный обед для всех.
      a(href="#") 
        +b-textLink('b-textLink --orange  --s-18') Условия оплаты, доставки и возврата
    .m-payAndDel__right 
      +c-accordeonSection('Сколько стоит доставка?','Чтобы накормить рабочих на стройке, сотрудников в офисе вкусной, горячей и здоровой пищей, не нужно открывать свой ресторан неподалеку.')
      +c-accordeonSection('Могу ли я оплатить заказ наличными?','Чтобы накормить рабочих на стройке, сотрудников в офисе вкусной, горячей и здоровой пищей, не нужно открывать свой ресторан неподалеку.')
      +c-accordeonSection('Что мне делать, если заказ не привезли?','Чтобы накормить рабочих на стройке, сотрудников в офисе вкусной, горячей и здоровой пищей, не нужно открывать свой ресторан неподалеку.')

mixin c-howWeCook 
  .c-howWeCook#howWeCook
    .c-howWeCook__mainTitle Как мы готовим?
    .c-howWeCook__container.--top
      img(src="../../assets/images/HWC-Image_1.png", alt="")
      .c-howWeCook__containerText
        .c-howWeCook__title Выгодно
          include ../../assets/icons/Decorations/Money.svg
        .c-howWeCook__text В отличие от кафе и ресторанов в стоимость наших блюд не входят расходы на аренду дорогостоящих помещений, содержание многочисленного персонала и обслуживание кухонного оборудования. На нашем сайте вы платите лишь за продукты и работу профессионального повара.  
    .c-howWeCook__container.--center
      img(src="../../assets/images/HWC-Image_2.png", alt="")
      .c-howWeCook__containerText
        .c-howWeCook__title Качественно
          include ../../assets/icons/Decorations/Cook-Hat.svg
        .c-howWeCook__text У нас работают лишь высокопрофессиональные повара с многолетним опытом работы в сфере общепита. Несмотря на это в компании действует система контроля качества, которая ежедневно следит за соответствием рабочих операций нашим высоким стандартам. 
    .c-howWeCook__container.--bottom
      img(src="../../assets/images/HWC-Image_3.png", alt="")
      .c-howWeCook__containerText
        .c-howWeCook__title Вкусно
          include ../../assets/icons/Decorations/Chicken.svg
        .c-howWeCook__text Все блюда готовятся по единой рецептурной карте с использованием только свежих продуктов. Это дает нашим клиентам возможность всегда быть уверенными в высоком качестве и вкусе наших блюд.

mixin m-popUpForm
  .m-popUpForm
    +c-sending('load', 'Отправляем заказ', 'Пожалуйста, подождите')
      include ../../assets/icons/Actions/Preloader.svg
    +c-sending('send', 'Заказ отправлен', 'В течение 40 минут всё будет готово')
      include ../../assets/icons/Actions/Check.svg
    +c-sending('error', 'Что-то пошло не так...', 'Повторите попытку позже')
      include ../../assets/icons/Actions/Close.svg
    form.formCheckOut.--sending
      +b-IconButton('b-transparentIconButton closeForm')
        include ../../assets/icons/Actions/Close.svg
      .m-popUpForm__form
        .m-popUpForm__formWrap
          .m-popUpForm__title Оформление заказа
          +b-input('name','b-input formName', 'Ваше имя')
          +b-input('phone', 'b-input formPhoneNumber', 'Номер телефона') 
          +b-input('address','b-input formAddress autoComplete', 'Адрес доставки')
          .m-popUpForm__address
            .m-popUpForm__container
              +b-input('pod', 'b-secondInput','Подъезд', '1')
              +b-input('domofon','b-secondInput','Домофон', '4')
            .m-popUpForm__container
              +b-input('level', 'b-secondInput','Этаж', '2')
              +b-input('flat', 'b-secondInput','Квартира', '3')
          .m-popUpForm__comment
            .m-popUpForm__text Комментарий
            +b-textArea('comment','b-textArea formComment')
          .m-popUpForm__text Желаемое время доставки
          .m-popUpForm__time
            +b-input('time', 'b-timeInput formTime') 
            span Мы осуществляем доставку только с 12 до 16 часов дня
      button.m-popUpForm__button(disabled) Заказать
    +blackout