include layouts/_base
include layouts/_combinations
include layouts/_modules

html(lang='ru')
  +m-head
  body   
    +foodCartsFirst

    +m-header
    +m-helloScreen
    
    +m-discounts
    +m-benifits 
    +m-constructor 
    +m-payAndDel
    +m-about

    +m-subscribe 
    +m-footer